@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1770b8; /* Example primary color */
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}